#disqus_thread {
    margin-top: 200px;
}
.post-header {
    .post-title {
        font-size: 2.5em;
    }
}
.post-content {
    font-size: 15pt;
    word-wrap: break-word;

    p, ol, li, strong, em {
        font-family: 'Nanum Myeongjo', serif;
    }

    a, a:focus, a:active, a:visited {
        font-weight: 300;
        color: black;
    }

    p code, li > code, h1 > code, h2 > code, h3 > code {
        box-sizing: content-box;
        padding: 5px;
        background-color: rgb(230, 230, 230);
        border-radius: 2px;
        color: #bd6161;
    }

    strong {
        box-shadow: inset 0em -0.5em gold;
    }

    code, code span {
        font-family: 'Nanum Gothic Coding', monospace;
    }
    
    h1 {
        margin-top: 2em;
    }

    h2 {
        margin-top: 1.8em;
        font-size: 1.3em;
        font-weight: 500;
    }
    
    h3 {
        margin-top: 1.7em;
        margin-block-end: 0.7em;
        font-size: 1.2em;
        font-weight: 400;
    }
    
    h4 {
        margin-top: 1.6em;
        font-size: 1.1em;
        font-weight: 400;
    }


    hr {
        border: 0;
        border-bottom: 1px solid lightgray
    }

    p {
        line-height: 2.1;
    }

    li {
        line-height: 2em;
        margin-bottom: 1em;
        
        li {
            margin-bottom: 0;
        }
    }

    img {
        max-width: 100%;
    }

    blockquote {
        position: relative;
        margin: 2em 0;
        padding: 1px 20px 1px 45px;
        background-color: #efefef;
        border-radius: 6px;
    }

    blockquote::before {
        content: "“";
        position: absolute;
        font-family: 'Nanum Myeongjo', serif;
        font-size: 3em;
        left: 10px;
        top: 10px;
    }

    div.highlight {
        padding: 10px 15px 15px;
        border-radius: 6px;
        margin-top: 10px;
    }

    pre.highlight {
        margin: 0;
        overflow-x: scroll;
    }

    
}
